data/microbiomedata/fruitdata/FRUIT_FREQUENCY_binary24_labels.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/IBD_test_512.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/total_IBD_label.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/fruitdata/FRUIT_FREQUENCY_otu_512.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/train_encodings_512.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/fruitdata/FRUIT_FREQUENCY_binary34_labels.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/IBD_train_label.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/IBD_train_otu.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/schirmer_IBD_otu.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/vegdata filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/vegdata/VEGETABLE_FREQUENCY_binary24_labels.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/vegdata/VEGETABLE_FREQUENCY_binary34_labels.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/halfvarson_IBD_labels.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/halfvarson_otu.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/README filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/vegdata/VEGETABLE_FREQUENCY_all_otu.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/halfvarson_512_otu.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/schirmer_IBD_labels.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/test_encodings_512.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/train_encodings_1897.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/fruitdata/FRUIT_FREQUENCY_all_label.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/IBD_test_label.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/IBD_test_otu.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/IBD_train_512.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/test_encodings_1897.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/total_IBD_512.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/total_IBD_otu.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/vegdata/VEGETABLE_FREQUENCY_all_label.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/vegdata/VEGETABLE_FREQUENCY_otu_512.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/fruitdata filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/schirmer_IBD_512_otu.npy filter=lfs diff=lfs merge=lfs -text
data/microbiomedata/fruitdata/FRUIT_FREQUENCY_all_otu.npy filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/convert_data.py filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/host_to_indices filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/marker/marker_Cirrhosis.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/marker/marker_Colorectal.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/marker/marker_IBD.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/marker/marker_T2D.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/UserLabelExample.csv filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/abundance/abundance_Obesity.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/get_unlabeled_pretraining_data.py filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/host_to_indices/host_to_ids.py filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/marker/marker_WT2D.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/UserDataExample.csv filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/abundance filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/marker filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/abundance/abundance_Cirrhosis.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/abundance/abundance_Colorectal.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/abundance/abundance_IBD.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/abundance/abundance_T2D.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/abundance/abundance_WT2D.txt filter=lfs diff=lfs merge=lfs -text
code/DeepMicro/data/marker/marker_Obesity.txt filter=lfs diff=lfs merge=lfs -text
